/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay .video {
  @apply absolute transform bg-blue-200 bg-no-repeat bg-center w-20 h-20 rounded-full items-center justify-center flex -translate-x-1/2 -translate-y-1/2;
  background-image: url('./assets/images/icon-play.svg#icon-play');
  top: 50%;
  left: 50%;
}

/* breadcrumb */

ul.breadcrumb {
  @apply flex flex-row items-center text-lg;
}

ul.breadcrumb li:not(:last-child):after {
  content: '>';
  @apply px-2;
}

ul.breadcrumb li:not(:last-child) a {
  @apply font-light;
}

ul.breadcrumb li:last-child a {
  @apply font-semibold;
}
